<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"> -->
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>

</head>

<body>
    <div>
        <h1 class='title'>Student Information System</h1>
    </div>
    <br>
    <form action="{{ url_for('addrec') }}" method="POST">
        <div class='button'>
            Registration_number<br>
            <input type="text" name="Regnum" /></br>
            Name<br>
            <input type="text" name="Name_" /></br>
            Email<br>
            <input type="text" name="Email" /></br>
            DoB<br>
            <input type="text" name="DoB" /></br>
            Hometown<br>
            <input type="text" name="Hometown" /></br>
            Score<br>
            <input type="text" name="Score" /></br>
            <br>
            <input type="submit" class="registerbtn"></button>
        </div>
    </form>
</body>


</html>