<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"> -->
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>

</head>

<body>
    <div>
        <h1 class='title'>Student Information System</h1>
    </div>
    <br>
    <div class='button'>
        <input type="text" name="regnum" /> Reg_num</br>
        <br>
        <input type="text" name="name" /> Name</br>
        <br>
        <input type="text" name="email" /> Email</br>
        <br>
        <input type="text" name="dob" /> Birth</br>
        <br>
        <input type="text" name="hometown" /> Hometown</br>
        <br>
        <input type="text" name="score" /> Score</br>
        <br>
        <button type="submit" class="registerbtn">Submit Information</button>
    </div>
</body>


</html>